/* ===== FONDO GENERAL ===== */
body {
    background: linear-gradient(120deg, #b40000, #ff3c3c);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0;
    padding: 30px;
}

/* ===== CONTENEDOR PRINCIPAL ===== */
.pokedex-frame {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    background: #c40000;
    border: 12px solid #770000;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 0 20px #330000;
}

/* ===== PANTALLA ===== */
.screen {
    background: #1a1a1a;
    border: 6px solid #000;
    border-radius: 15px;
    padding: 25px;
}

/* ===== TÍTULO ===== */
h1 {
    text-align: center;
    font-size: 42px;
    color: #ffea00;
    text-shadow: 2px 2px 0 #000;
    font-family: "Verdana", sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
}

/* ===== LUZ LED ===== */
.led {
    width: 18px;
    height: 18px;
    background: #ff4444;
    border-radius: 50%;
    box-shadow:
        0 0 5px #ff8080,
        0 0 10px #ff4444,
        inset 0 0 5px #990000;
    margin-bottom: 10px;
}

/* ===== GRID DE POKÉMON ===== */
.pokedex-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

/* ===== TARJETA ===== */
.pokemon-card {
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    box-shadow: inset 0 0 10px #c0c0c0;
    border: 3px solid #ff0000;
}

.pokemon-card:hover {
    background: #ffecec;
    transform: scale(1.05);
    transition: 0.2s;
}

/* ===== ID ===== */
.pokemon-id {
    font-size: 12px;
    font-weight: bold;
    color: #777;
}

/* ===== NOMBRE ===== */
.pokemon-name {
    font-size: 20px;
    font-weight: bold;
    color: #b00000;
    margin: 8px 0;
}

/* ===== IMÁGENES ===== */
.pokemon-img {
    width: 110px;
}

.pokemon-img-shiny {
    width: 70px;
    margin-top: 5px;
}

.shiny-label {
    font-size: 12px;
    color: #ff9800;
}
